# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
src/Controller/logs/*
bin/*
[Cc]onfig/*
logs/*
plugins/*
tests/*
tmp/*
tmp/cache/*
tmp/cache/models/*
vendor/*
webroot/subpages/soap/*
webroot/attachments/*
webroot/orders/*
webroot/img/certificates/*
webroot/img/jobs/*
webroot/img/logos/*
webroot/img/profile/*
webroot/canvas/*.png
!empty
*.tar.gz
*.tar
.idea/*
*.log
*.idea
/vendor/*
/config/app.php
/tmp/*
/logs/*
*.xml
.idea/misc.xml
*.xml
*.pdf
tmp/cache/models/myapp_cake_model_default_clientssubdocument
tmp/cache/models/myapp_cake_model_debug_kit_panels
tmp/cache/models/myapp_cake_model_default_blocks
tmp/cache/models/myapp_cake_model_default_profilessubdocument
tmp/cache/models/myapp_cake_model_default_profilessubdocument
tmp/debug_kit.sqlite
tmp/cache/models/myapp_cake_model_default_profiles
tmp/cache/persistent/myapp_cake_core_translations_cake_en__u_s
tmp/cache/persistent/myapp_cake_core_translations_cake_en__u_s