# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
src/Controller/logs/debug.log
src/Controller/logs/debug.log
src/Controller/logs/cli-error.log
bin/*
[Cc]onfig/*
logs/*
plugins/*
tests/*
tmp/*
vendor/*
webroot/subpages/soap/*
webroot/attachments/*
webroot/orders/*
webroot/img/jobs/*
webroot/img/logos/*
webroot/img/profile/*
webroot/canvas/*.png
!empty
*.tar.gz
*.tar
.idea/*
*.idea
/vendor/*
/config/app.php
/tmp/*
/logs/*
webroot/subpages/profile/page.php
*.xml
src/Template/Orders/webservice.ctp
.idea/misc.xml
src/Template/Orders/webservice.ctp
*.xml
webroot/img/certificates/certificate58-3.pdf
*.pdf
*.pdf
webroot/img/certificates/certificate58-1.pdf

*.log
